.detail {
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   max-height: 100vh;
   height: 100%;
   width: 100%;
   justify-content: space-between;
   align-items: center;

   .detail-content {
      display: flex;
      height: 70vh;
      width: 50%;
      margin: 20px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 #00000033;
      transition: 0.3s;

      .detail-content-wrapper {
         margin: 0 10px;
      }

      .detail-image {
         height: 40vh;
      }

      .detail-title {
         font-weight: bold;
         font-size: 30px;
      }

      .detail-body {
         color: #353535;
         max-height: 30vh;
         text-align: justify;
         font-size: 16px;
         border-top: 1px solid #dddddd;
         border-bottom: 1px solid #cccccc;
         padding: 5px 0;
         overflow: scroll;
         text-overflow: ellipsis;
         display: -webkit-box;
         -webkit-box-orient: vertical;
      }
   }
}
