.footer {
   box-sizing: border-box;
   background-color: #f5f5f5;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 40px;
   border-top: 1px solid #e7e7e7;

   .footer-gif {
      width: 60px;
      height: 60px;
   }

   .footer-icon {
      display: flex;
   }
   .icon {
      width: 40px;
      height: 40px;
      margin: 0 10px;
   }
}
